<nav class="menu">
      <!-- Navigation menu, shown at startup and hidden on click of the menu button (three lines/dot as usual). Menu button is top left and the menu is on the left and leads to the different parts of the page -->
      <ul class="menu__list">
        <li class="menu__item"><a href="#header" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#competences" class="menu__link">Skills</a></li>
        <li class="menu__item"><a href="#projets" class="menu__link">Projects</a></li>
        <li class="menu__item"><a href="#parcours" class="menu__link">Journey</a></li>
        <li class="menu__item"><a href="#contact" class="menu__link">Contact</a></li>
      </ul>
</nav>