<section id="skills">
      <!-- Two list of skills, first the languages and then the tools such as frameworks, showed with small icons and their name below -->
      <h1 class="skills__title">My Skills</h1>
      <h2 class="skills__subtitle">Languages</h2>
      <ul class="skills__list">
        <li class="skills__item">Java</li>
        <li class="skills__item">Kotlin</li>
        <li class="skills__item">Python</li>
        <li class="skills__item">JavaScript</li>
        <li class="skills__item">TypeScript</li>
        <li class="skills__item">PHP</li>
        <li class="skills__item">HTML</li>
        <li class="skills__item">CSS</li>
        <li class="skills__item">SQL</li>
      </ul>
      <h2 class="skills__subtitle">Frameworks & Tools</h2>
      <ul class="skills__list">
        <li class="skills__item">Vue.js</li>
        <li class="skills__item">Angular</li>
        <li class="skills__item">Bootstrap</li>
        <li class="skills__item">Tailwind CSS</li>
        <li class="skills__item">Spring Boot</li>
        <li class="skills__item">Flask</li>
        <li class="skills__item">Node.js</li>
        <li class="skills__item">Laravel</li>
        <li class="skills__item">Docker</li>
        <li class="skills__item">Git</li>
        <li class="skills__item">Linux</li>
        <li class="skills__item">Jetbrains</li>
        <li class="skills__item">VSCode</li>
        <li class="skills__item">Figma</li>
        <li class="skills__item">Canva</li>
      </ul>
</section>